.form {
  display: flex;
  flex-wrap: wrap;
  width: 66.66%;
  margin: 0 auto;
  margin-top: 70px;

  @media (max-width: $tablet-max) {
    width: 100%;
    margin-top: 60px;
  }

  @media (max-width: $mobile-max) {
    margin-top: 30px;
  }
}

.form-field {
  flex-basis: 100%;
  margin-bottom: 30px;
  padding-left: $gap-half;
  padding-right: $gap-half;
  border: 1px solid #000;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-field-half {
  flex-basis: 50%;

  @media (max-width: $mobile-max) {
    flex-basis: 100%;
  }
}

.form-label {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 27px;
  color: $color-accent;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 20px;
  font-family: $font-open;
  font-size: 20px;
  line-height: 27px;
  color: $color-dark;
  background-color: $color-light;
  border-radius: 8px;
  border: none;

  &:disabled {
    background-color: gray;
  }
}

.form-textarea {
  height: 167px;
  resize: vertical;
}

.form-checkbox-label {
  display: flex;
  font-size: 20px;
  line-height: 27px;

  @media (max-width: $mobile-max) {
    font-size: 14px;
    line-height: 19px;
  }

  &:before {
    content: '';
    flex-shrink: 0;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border: 2px solid $color-accent;
    border-radius: 4px;
  }

  a {
    color: $color-accent;
  }
}

.form-checkbox {
  display: none;
}

.form-checkbox:checked+.form-checkbox-label:before {
  background-color: $color-accent;
}
