.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 25px 0;
  background-color: $color-dark;
}

.header-inner {
  @include inner;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.main-logo {
  margin-right: auto;
}
