.promo {
  padding: 135px 0;
  background-color: rgba($color-light, 0.2);
}

.promo-inner {
  @include inner;
  display: flex;
}

.promo-info {
  flex-shrink: 0;
  flex-basis: 50%;
  padding-right: $gap-half;
}

.promo-visual {
  flex-shrink: 0;
  flex-basis: 50%;
  padding-left: $gap-half;
}

.promo-figure {
  position: relative;
}

.promo-photo-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: $color-light;
  background-color: rgba($color-dark, 0.7);
}
