// common files
@import "common/_variables";
@import "common/_fonts";
@import "common/_mixins";
@import "common/_common";

// blocks
@import "blocks/_header";
@import "blocks/_menu";
@import "blocks/_promo";
@import "blocks/_services";
@import "blocks/_order";
@import "blocks/_form";
@import "blocks/_btn";
@import "blocks/_footer";
@import "blocks/_social";
@import "blocks/_contacts";
@import "blocks/_works";
@import "blocks/_reviews";
@import "blocks/_slider";
@import "blocks/_carousel";
@import "blocks/_faq";
