// Fonts
$font-open: "Open Sans", sans-serif;
$font-ral: "Raleway", sans-serif;

$h1-fz-mobile: 20px;
$h1-fz-tablet: 32px;
$h1-fz-desktop: 48px;
$h1-fw: 400;

// colors
$color-dark: #152b3c;
$color-light: #fbf2da;
$color-accent: #d46240;

// indents
$gap: 30px;
$gap-half: calc($gap / 2);

// breakpoints
